body {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.signup-container {
    width: 500px;
    background: #dcf1f8;
    border: 2px solid rgba(255, 255, 255, 2);

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #14213d;
    border-radius: 10px;

    padding: 30px 40px;

}

.signup-container h1 {
    font-size: 35px;
    text-align: center;
}

.signup-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.option i {
    transform: scale(2);
    color: goldenrod;
    border-radius: 50%;
    padding: 3px;
    border: 1.5px solid transparent;
    transition: border-color 0.3s ease;
}

.option input[type="radio"]:checked+label i {
    border-color: #14213d;
    ;
}

.radio-btn {
    display: none;
}

.option label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.signup-form {
    width: 100%;
    margin: 30px 0;
    position: relative;
    text-align: center;
}

.signup-form input {
    width: 90%;
    height: 100%;
    background: transparent;

    outline: none;
    border: 2px solid #14213d;
    border-radius: 40px;
    font-size: 16px;
    color: #14213d;
    padding: 20px 40px 20px 20px;
    margin: 10px 0;
}

.signup-form input::placeholder {
    color: #14213d;
}

.hidden {
    display: none;
}

.gender-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: -20px;
    margin-left: 20px;
}

.gender-options label {
    display: flex;
    align-items: center;


}

.gender-options p {
    font-size: 17px;
    font-weight: bold;
}

.gender-options input[type="radio"] {
    transform: scale(1.5);
    margin-right: 5px;

}

.file-box label {
    display: flex;
    justify-content: left;
    margin-bottom: -15px;
    margin-left: 20px;
}

.file-box input[type="file"] {
    border: none;
    margin: 0px;
}

.signup-form textarea {
    margin-top: 10px opx;
}

.check-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
    margin-top: -25px;
}

.check-box p {
    font-size: 17px;
    font-weight: bold;
}

.check-box label {
    display: flex;
    align-items: center;
}

.check-box input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 5px;
}

button {
    width: 100%;
    height: 45px;
    background: #14213d;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #14213d;
}

button:hover {
    background-color: #ffffff;
    color: #14213d;
}

textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.info-text {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.info-text p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
}

.info-text p a:hover {
    text-decoration: underline;
}
.errors{
    color : red;
}
select#technician-skills{
    width: 100%;
}
.Skill{ 
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    margin-left: 20px; 
     
} 
.Skill select{ 
    width: 100%; 
    height: 40px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 0 10px; 
    font-size: 16px; 
    color: #14213d; 
}