#central{
    display: flex;
    background-color: #ffffff;
    position : relative;
    top : 120px;
    left : 0;
    width: 100%;
    height : 400px;
}

nav{
    /* position : fixed; */
    /* top : 120px; */
    left : 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    float: left;
    width : 25%;
    height : inherit;
    background-color: rgb(255, 255, 255);
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: rgb(189, 192, 194);
}
#profile{
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
#profile-photo{
    height : 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-bottom: 5px;
    background-color: burlywood;
}
#profile p{
    color : rgb(245, 181, 19);
    font-weight: bold;
}
nav button{
    width : 90%;
    height : 50px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color : rgb(28, 37, 30);
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.2s;
}
nav button:hover{
    background-color: goldenrod;
}
#request-number{
    background-color: red;
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 50%;
    display: inline;
}
main{
    /* position : relative;
    left : 25%; */
    right : 0;
    width: 75%;
    padding: 20px;
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff; /* Fallback color */
    background-image: linear-gradient(to right, #eaf0fc, #d0e8f2); /* Gradient background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
}

main {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

h2 {
    color: #14213d;
}
.full-star
{
color: gold;
} 
.empty-star{
    color : rgb(204, 202, 202);
}
  
.half-star {
overflow: hidden;
width: 50%; 
color: gold;
}
#plus-btn{
    border : none;
    text-align: center;
    width : 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 30px;
    position: relative;
    top:5px;
    cursor: pointer;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
}

.profile .profile_picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5, );
    cursor: pointer;
    transition: 0.3s;
}

.profile:hover .profile_picture {
    transform: scale(1.2);
}

.profile_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
