body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    left : 0;
    top : 0;
    z-index: 2;
    background-color: #eaf0fc;
    padding: 50px;
    width: 100%;
    height : 20px;
    display: flex;
    justify-content: space-between;

} 
#logo-section{
    margin-top: -30px;
    margin-left : -40px;
    width : 400px;
    height : 80px;
}
#logo-section img{
    width : 100%;
    height: 100%;
    
    /* height : 50%; */
}
header a{
    text-decoration: none;
    cursor: pointer;
    color : black;
}
header p:hover{
    color : #14213d;
    text-shadow: -1px 2px 2px #14213d;
}
#search-bar{
    display: flex;
    /* margin-left: 16%; */
    margin-right: 70px;
}
#search-input{
    height : 25px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 200px;
}
#search-icon{
    width : 20px;
    height : 20px;
}
#search-btn{
    height : 35px; 
    width : 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border : none;
    outline: none;
    cursor: pointer;
    margin-left: -35px;
    background-color: rgb(253, 253, 253);
    opacity: 0.6;
}
#search-btn:active{
    opacity: 0.3;
}
#suggested-words{
    position: relative;
    top: -17px;
    /* left: 10px; */
    width: 200px;
    background-color: black;
    border-bottom-left-radius: 15px;
}
#suggested-words p{
    margin-bottom: -15px;
    text-align: left;
    list-style: none;
    /* background-color: white; */
    color : white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#central{
    display: flex;
    background-color: #ffffff;
    position : relative;
    top : 120px;
    left : 0;
    width: 100%;
    height : 400px;
}

nav{
    /* position : fixed; */
    /* top : 120px; */
    left : 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    float: left;
    width : 25%;
    height : inherit;
    background-color: rgb(255, 255, 255);
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: rgb(189, 192, 194);
}
#profile{
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
#profile-photo{
    height : 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-bottom: 5px;
    background-color: burlywood;
}
#profile p{
    color : rgb(245, 181, 19);
    font-weight: bold;
}
nav button{
    width : 90%;
    height : 40px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color : rgb(28, 37, 30);
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.2s;
}
nav button:hover{
    background-color: goldenrod;
}
main{
    /* position : relative;
    left : 25%; */
    right : 0;
    width: 75%;
    padding: 20px;
    overflow: auto;
}
fieldset{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    border-left: none;
    border-top : none;
}
legend{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.cards{
    position: relative;
    border : none;
    border-color: rgb(56, 185, 178);
    color : black;
    width : 200px;
    margin-right: 20px;
    height : 250px;
    font-size: 15px;
    overflow: hidden;
    line-height: 5px;
    cursor: pointer;
}
.photo-container{
    width : 100%;
    height : 170px;
    background-color: burlywood;
}
.technician-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    height : 100px;
    background-color: rgb(230, 250, 250);
}
.technician-name{
    margin-bottom: -2px;
}
.rating{
    position: relative;
    top : 10px;
    left : 20px;
    
}
.rating-images{
    width : 30px;
    height : 30px;
    margin-right : -4px;
    margin-bottom: 8px;
}
