/* main{
    display: block;
    width : 100%;
    height : 100%;
    position : absolute;
    left : 15%;
    top : 20%;
    box-sizing: border-box;
} */
main{
    /* position : relative;
    left : 25%;
    right : 0; */
    width: 75%;
    padding: 20px;
    overflow: auto;
    display: flex;
    /* justify-content: space-evenly; */
}
h1{

}
ul{
    width: 100%;
}
li{
    position: relative;
    width : 100%;
    display : flex;
    padding: 10px;
}
li:hover{
    background-color: cadetblue;
}
.left-detail{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    /* position : relative; 
    left : -7%; */
}
.name{
    margin-bottom: -5px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.job-date{
    font-size: 14px;
}
.right-detail{
    position : absolute;
    right : 15px;
    display: flex;
}
.contact{
    margin-top: 35px;
}
.new-request-btn{
    width : 35px;
    height : 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(219, 28, 28);
    color : white;
    margin-top : 30px;
    margin-left: 60px;
}